<ol class="directory-list spell-list summary">
    {{#each entries as |entry i|}}
    {{#if entry.spells}}
    <li class="spell-level-header spellbook-header item">
        <div class="item-name flexrow">
            <h3>
                {{#if entry.level}}
                {{localize 'PF2E.LevelN' level=entry.level}}
                {{else}}
                {{localize 'PF2E.SpellCantripLabel'}}
                {{/if}}
            </h3>
        </div>

        <div class="spell-type">{{localize 'PF2E.SpellCategoryLabel'}}</div>

        <div class="spell-range">{{localize 'PF2E.SpellRangeLabel'}}</div>
    </li>

    {{#each entry.spells as |spell|}}
    <li class="item spell{{#if spell.isVirtual}} virtual{{/if}}{{#if entry.isCantrip}} cantrip{{/if}}" data-item-id="{{spell.id}}"
        data-entry-id="{{spell.entryId}}" data-slot-level="{{entry.level}}" {{#if spell.isPrepared}}data-slot-id="{{spell.slotId}}" {{/if}}
        data-item-summary-id="{{spell.id}}-{{entry.level}}-{{spell.slotId}}" data-expended-state="{{spell.expended}}">
        <div class="item-name">
            <div class="item-image">
                <img class="item-icon" src="{{spell.img}}" alt="{{spell.name}}" />
            </div>
            <h4>{{spell.name}}{{{actionGlyph spell.icon}}}</h4>
        </div>

        <div class="spell-type">
            {{#if spell.isCharge}}
            <span class="uses-label">{{#if spell.isStaff}}Staff{{else}}Charges{{/if}}</span>
            {{#if (and spell.isStaff (not entry.isCantrip))}}
            <div class="uses">
                <span class="spell-slots-input">
                    <input type="number" value="{{spell.parentUses.value}}" data-item-id="{{spell.entryId}}"
                        data-item-property="flags.pf2e-staves.charges" placeholder="0" {{#unless @root.editable}} disabled{{/unless}} />
                </span>
                {{#if @root.editable}}
                <a class="spell-slots-increment-reset" data-item-id="{{spell.entryId}}" data-staff="true">
                    <i class="fas fa-redo"></i>
                </a>
                {{/if}}
            </div>
            {{/if}}

            {{else if (and spell.isInnate spell.uses)}}
            <span class="uses-label">{{localize 'PF2E.PreparationTypeInnate'}}</span>
            <div class="uses">
                <span class="spell-slots-input">
                    <input type="number" data-item-id="{{spell.id}}" data-item-property="system.location.uses.value"
                        value="{{spell.uses.value}}" placeholder="0" {{#unless @root.editable}} disabled{{/unless}} />
                </span>
                <span class="slash"> / </span>
                <span class="spell-max-input">
                    <input type="number" value="{{spell.uses.max}}" placeholder="0" disabled />
                </span>
                {{#if @root.editable}}
                <a class="spell-slots-increment-reset" data-item-id="{{spell.id}}"><i class="fas fa-redo"></i></a>
                {{/if}}
            </div>

            {{else if spell.isInnate}}
            {{localize 'PF2E.PreparationTypeInnate'}}

            {{else if (and @root.editable spell.isFocus (not entry.isCantrip))}}
            <span class="focus-label">{{localize 'PF2E.SpellFocusLabel'}}</span>
            <span class="pips focus-pips">
                {{#times @root.focusPool.max}}
                <i class="{{#if (gt @root.focusPool.value this)}}fas fa-dot-circle{{else}}far fa-circle{{/if}}"></i>
                {{/times}}
            </span>

            {{else if spell.isFocus}}
            {{localize 'PF2E.SpellFocusLabel'}}

            {{else if (and (or spell.isSpontaneous spell.isFlexible) spell.parentUses)}}
            <span class="uses-label">
                {{#if spell.isSpontaneous}}
                {{localize 'PF2E.PreparationTypeSpontaneous'}}
                {{else}}
                {{localize 'PF2E.SpellFlexibleLabel'}}
                {{/if}}
            </span>
            {{#unless entry.isCantrip}}
            <div class="uses">
                <span class="spell-slots-input">
                    <input type="number" data-item-id="{{spell.entryId}}" data-item-property="system.slots.slot{{entry.level}}.value"
                        value="{{spell.parentUses.value}}" placeholder="0" {{#unless @root.editable}} disabled{{/unless}} />
                </span>
                <span class="slash"> / </span>
                <span class="spell-max-input">
                    <input type="number" value="{{spell.parentUses.max}}" placeholder="0" disabled />
                </span>
                {{#if @root.editable}}
                <a class="spell-slots-increment-reset" data-item-id="{{spell.entryId}}" data-level="{{entry.level}}">
                    <i class="fas fa-redo"></i>
                </a>
                {{/if}}
            </div>
            {{/unless}}

            {{else if spell.isSpontaneous}}
            {{localize 'PF2E.PreparationTypeSpontaneous'}}

            {{else if spell.isPrepared}}
            {{localize 'PF2E.SpellPreparedLabel'}}
            {{#if (and @root.editable (not entry.isCantrip))}}
            <a class="item-control item-toggle-prepare">
                <i class="fas fa-fw {{#if spell.expended}}fa-plus-square{{else}}fa-minus-square{{/if}}"></i>
            </a>
            {{/if}}

            {{/if}}
        </div>

        {{#if @root.editable}}
        <button type="button" class="cast-spell">{{localize "PF2E.CastLabel"}}</button>
        {{/if}}

        <div class="spell-range" data-tooltip="{{entryName}}: DC {{spell.dc.value}}">{{spell.range}}</div>

    </li>
    {{/each}}
    {{/if}}
    {{/each}}

    {{#if rituals.length}}
    <li class="spell-level-header spellbook-header item ritual">
        <div class="item-name flexrow">
            <h3>{{localize 'PF2E.SpellRitualLabel'}}</h3>
        </div>

        <div class="spell-type">{{localize 'PF2E.SpellTimeLabel'}}</div>

        <div class="spell-range">{{localize 'PF2E.LevelLabel'}}</div>
    </li>

    {{#each rituals as |spell|}}
    <li class="item spell ritual" data-item-id="{{spell.id}}" data-entry-id="{{spell.entryId}}" data-slot-level="{{spell.level}}"
        data-item-summary-id="{{spell.id}}-{{spell.level}}-{{spell.slotId}}">
        <div class="item-name">
            <div class="item-image">
                <img class="item-icon" src="{{spell.img}}" alt="{{spell.name}}" />
            </div>
            <h4>{{spell.name}}</h4>
        </div>

        <div class="spell-type">{{spell.time}}</div>

        {{#if @root.editable}}
        <button type="button" class="cast-spell">{{localize "PF2E.CastLabel"}}</button>
        {{/if}}

        <div class="spell-range">{{spell.level}}</div>
    </li>
    {{/each}}
    {{/if}}
</ol>